<!DOCTYPE html>
<html lang="en">
<%- include('header') %>


    <head>
        <title>Contacts</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>

        <style>
            @import url(https://unpkg.com/@webpixels/css/dist/index.css);
        </style>
    </head>

    <body>
        <div class="p-10 bg-surface-secondary" style="height: 750px; margin-top: 70px;">
            <div class="container">
                <div class="card ">
                    <div class="card-header">
                        <h6 class="text-center" style="font-size: 20px;">Contact Directory</h6>

                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-nowrap">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col" style="font-size: 15px;">Name</th>
                                    <th scope="col" style="font-size: 15px;">Designation</th>
                                    <th scope="col" style="font-size: 15px;">Email</th>
                                    <th scope="col" style="font-size: 15px;">Phone Number</th>
                                    <th scope="col" style="font-size: 15px;">Office Address</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td data-label="Name">


                                        Hitesh Shrimali

                                    </td>
                                    <td data-label="Designation">
                                        <span>Dean(Students)</span>
                                    </td>
                                    <td data-label="Email">
                                        <a class="text-current"
                                            href="mailto:hitesh@iitmandi.ac.in">hitesh@iitmandi.ac.in</a>
                                    </td>
                                    <td data-label="Phone Number">
                                        <a class="text-current" href="tel:01905-267902">01905-267902</a>
                                    </td>
                                    </td>
                                    <td data-label="Office Address">
                                        A17.03.32, North Campus
                                    </td>
                                </tr>
                                <tr>
                                    <td data-label="Name">


                                        P. Anil Kishan

                                    </td>
                                    <td data-label="Designation">
                                        <span>Associate Dean (Courses)</span>
                                    </td>
                                    <td data-label="Email">
                                        <a class="text-current"
                                            href="mailto:adcourses@iitmandi.ac.in">adcourses@iitmandi.ac.in</a>
                                    </td>
                                    <td data-label="Phone Number">
                                        <a class="text-current" href="tel:01905-267141">01905-267141</a>
                                    </td>
                                    <td data-label="Office Address">
                                        A4-207, South Campus
                                    </td>
                                </tr>
                                <tr>
                                    <td data-label="Name">


                                        Varun Dutt

                                    </td>
                                    <td data-label="Designation">
                                        <span>Associate Dean (Resource Generation & Alumni Relations)</span>
                                    </td>
                                    <td data-label="Email">
                                        <a class="text-current"
                                            href="mailto:adora@iitmandi.ac.in">adora@iitmandi.ac.in</a>
                                    </td>
                                    <td data-label="Phone Number">
                                        <a class="text-current" href="tel:01905-267150">01905-267150</a>
                                    </td>
                                    <td data-label="Office Address">
                                        A4-304, South Campus
                                    </td>
                                </tr>
                                <tr>
                                    <td data-label="Name">


                                        Sunny Zafar

                                    </td>
                                    <td data-label="Designation">
                                        <span>Chief Warden</span>
                                    </td>
                                    <td data-label="Email">
                                        <a class="text-current"
                                            href="mailto:chiefwarden@iitmandi.ac.in">chiefwarden@iitmandi.ac.in</a>
                                    </td>
                                    <td data-label="Phone Number">
                                        <a class="text-current" href="tel:9736000510">9736000510</a>
                                    </td>
                                    <td data-label="Office Address">
                                        A11.5.13, North Campus
                                    </td>
                                </tr>
                                <tr>
                                    <td data-label="Name">


                                        Chaman Lal

                                    </td>
                                    <td data-label="Designation">
                                        <span>Caretaker</span>
                                    </td>
                                    <td data-label="Email">
                                        <a class="text-current"
                                            href="mailto:caretaker_beaskund@iitmandi.ac.in">caretaker_beaskund@iitmandi.ac.in</a>
                                    </td>
                                    <td data-label="Phone Number">
                                        <a class="text-current" href="tel:9418161301">9418161301</a>
                                    </td>
                                    <td data-label="Office Address">
                                        B23 Hostel Office
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>