<!DOCTYPE html>
<html>
<title>Homepage</title>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      margin: 0;
    }




    .main {
      margin-top: 30px;
      text-align: center;
      height: 1500px;
      /* Used in this example to enable scrolling */
      font-family: Arial, Helvetica, sans-serif;
    }

    footer {
      text-align: center;
      background-color: #022d36;
      color: white;
    }
  </style>


</head>

<body>

  <%- include('header') %>

    <div class="main"><br><br>
      <h1 style="font-size:60px">Helloooo responsible IITians!</h1>
      <div style="font-size: 50px;">Stuck with a problem?<br>
        <img
          src="https://img.freepik.com/premium-vector/scared-anime-face-manga-style-funny-eyes-little-nose-kawaii-mouth-hand-drawn-vector-cartoon-illustration_163875-960.jpg?w=2000"
          alt="Worried" width="400" height="500""><br><br>
  What are you waiting for?<br><br><img src="
          https://i.pinimg.com/originals/58/89/6f/58896f8198f84152b7fb8d57339495ef.jpg"><br><br>
        Complain and take a chill pill!<br><br><img
          src="https://indianmemetemplates.com/wp-content/uploads/good-guy-robert.jpg" width="400" height="500">
      </div><br>
      <br>
      <footer>
        <div style="color:white;
 font-family: 'Trebuchet MS', sans-serif;
 font-size: 20px;
 padding:16px;
 text-align: left;">
          <div style="font-size: 35px;font-weight:500;">Contributors: G4</div>
          <div style="font-weight:600"><br>Harsh Pahwa
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B21100<br><br>Himanshu
            Panchal &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B21101<br><br>Jinendra Kumar
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B21102<br><br>Jiya Bhudania
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B21103<br><br>Jyoti
            Baberwal &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B21104<br><br>Mahesh
            Kumar &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B21105</div>
        </div>
      </footer>
    </div>


</body>

</html>